@import url(style.css);

#footer {
  background-size: cover;
  border-top: var(--border-blue);
  background: black;
  position: relative;
  z-index: 9999;
}

.glow i img {
  width: 5%;
  
}

.glow:hover {
  background: #0099ff28;
    background: #0776c071;
  box-shadow: 0 0 50px 10px #0099ff;
  border-radius: 100px;
  transition: var(--transition-main);
}

#copyright {
  background: var(--bg-gradient-right);
}