@import url(style.css);

.labels {
  font-size: 1.3em;
  text-align: left;
  display: block;
  color: #fff;
}

.form-control {
  background: #021522;
  border: var(--border-blue);
  color: #ffffff;
}

.form-control:active {
  background: #03243a;
}

.contato {
  margin: 10% 30% 0 30%;
  text-align: center;
  padding: 3%;
  border: var(--border-blue);
  border-radius: 20px;
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(22, 10, 58), rgb(12, 38, 85));
}

input:invalid,
textarea:invalid {
  /* border: red;
  box-shadow: 0 0 3px red; */
}

input:focus,
textarea:focus {
  outline: none;
}

input:valid,
textarea:valid {
  border: var(--border-blue);
}

#email-invalido {
  position: relative;
}

/* '' */
input:invalid + .verifica::before,
textarea:invalid + .verifica::before {
  content: '✖';
  color: red;
  /* margin-left: 15%; */
  
}

input:valid + .verifica::before,
textarea:valid + .verifica::before {
  content: '✓';
  color: rgb(0, 255, 0);
}

input + .verifica::before {
  position: absolute;
  top: -30px;
  left: 185px;
}

textarea + .verifica::before {
  position: absolute;
  left: 185px;
  top: -150px;
}

.verifica {
  position: absolute;
}

.contato button {
  background: var(--bg-default);
  border: var(--border-blue);
  color: var(--text-cyan);
}

.contato button:hover {
  border: 0.1em solid white !important;
  color: black;
  background: var(--text-gradient);
}

@media (max-width: 900px) {
  .contato {
    margin: 10% 20% 0 20%;
  }
}

@media (max-width: 600px) {
  .contato {
    margin: 10% 5% 0 5%;
  }
}