@import url(style.css);

.contato {
  padding: 10% 0 10% 0;
  background: url(../assets/imgs/bg_contato.png) no-repeat;
  background-size: cover;
  transform: skewY(-3deg);
  position: relative;
  z-index: 3;
  border-top: var(--border-blue);
}

.normal {
  transform: skewY(3deg);
}

.form-title {
  margin-top: 20px;
  text-align: center;
}

.form-title h2 {
  font-size: 3em;
  color: var(--light-gray);
  font-weight: 500;
}

.border-baixo {
  border: 0.2em solid var(--text-cyan);
  width: 20%;
  margin: 0 auto;
}

.labels {
  font-size: 1.3em;
  text-align: left;
  display: block;
  color: rgb(206, 202, 202);
}

.form-control {
  background: #021522;
  border: var(--border-blue);
  color: #ffffff;
}

.form-control:active {
  background: #03243a;
}

.contato_form {
  margin: 5% 30% 0 30%;
  text-align: center;
  padding: 3%;
  border-radius: 20px;
  background: url(../assets/imgs/bg_form.png);
  background-size: cover;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: var(--border-blue);
}

/* input:invalid,
textarea:invalid {
  border: red;
  box-shadow: 0 0 3px red; 
} */

input:focus,
textarea:focus {
  outline: none;
}

input:valid,
textarea:valid {
  border: var(--border-blue);
}

#nome,
#email,
#mensagem {
  margin-bottom: 40px;
  background: transparent;
  color: #ffffff;
  transition: var(--transition-main);
}

#nome:hover {
  background: #ffffff;
  transition: var(--transition-main);
  background: #021522;
}

#email:hover {
  background: #ffffff;
  transition: var(--transition-main);
  background: #021522;
}

#mensagem:hover {
  background: #ffffff;
  transition: var(--transition-main);
  background: #021522;
}

#email-invalido {
  position: relative;
}

input:invalid+.verifica::before,
textarea:invalid+.verifica::before {
  content: '✖';
  color: red;
}

input:valid+.verifica::before,
textarea:valid+.verifica::before {
  content: '✓';
  color: rgb(0, 255, 0);
}

input+.verifica::before {
  position: absolute;
  top: -71px;
  left: 260px;
}

textarea+.verifica::before {
  position: absolute;
  top: -191px;
  left: 260px;
}

.verifica {
  position: absolute;
}

.contato_form button {
  background: var(--bg-default);
  border: var(--border-blue);
  color: var(--text-cyan);
  font-size: 1.5em;
  padding: 10px 15px;
}

.contato_form button:hover {
  border: 0.1em solid white !important;
  color: black;
  background: var(--text-gradient);
  transform: var(--size-up);
}

@media (max-width: 900px) {
  .contato_form {
    margin: 10% 20% 20% 20%;
  }

  .form-title {
    margin-top: 10%;
  }
}

@media (max-width: 600px) {
  .contato_form {
    margin: 10% 5% 30% 5%;
  }

  .form-title {
    margin-top: 20%;
  }

  .form-title h2 {
    font-size: 2.5em;
  }

  .border-baixo {
    width: 50%;
  }
}


@media (max-width: 1350px) {
  input+.verifica::before {
    position: absolute;
    left: 170px;
  }

  textarea+.verifica::before {
    position: absolute;
    left: 170px;
  }
}

@media (max-width: 1100px) {
  input+.verifica::before {
    position: absolute;
    left: 140px;
  }

  textarea+.verifica::before {
    position: absolute;
    left: 140px;
  }
}

@media (max-width: 900px) {
  input+.verifica::before {
    position: absolute;
    left: 180px;
  }

  textarea+.verifica::before {
    position: absolute;
    left: 180px;
  }
}

@media (max-width: 750px) {
  input+.verifica::before {
    position: absolute;
    left: 140px;
  }

  textarea+.verifica::before {
    position: absolute;
    left: 140px;
  }
}

@media (max-width: 600px) {
  input+.verifica::before {
    position: absolute;
    left: 170px;
  }

  textarea+.verifica::before {
    position: absolute;
    left: 170px;
  }
}

@media (max-width: 450px) {
  input+.verifica::before {
    position: absolute;
    left: 150px;
  }

  textarea+.verifica::before {
    position: absolute;
    left: 150px;
  }
}

@media (max-width: 390px) {
  input+.verifica::before {
    position: absolute;
    left: 120px;
  }

  textarea+.verifica::before {
    position: absolute;
    left: 120px;
  }
}