@import url(style.css);

.backend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.full-cd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .backend {
    display: block;
  }
}

/* @media (max-width: 600px) {
 .card {
  width: 330px;
 }
} */

.title {
  font-weight: bold;
}

.full-cd {}

.card {
  box-shadow: -1px 15px 30px -10px black;
  width: 430px;
  color: white;
  background: var(--bg-gradient-right);
  margin: 100px auto;
}

.card-img-top {
  border-bottom: var(--border-blue);
  padding: 2%;
}

.card-footer {
  justify-content: space-around;
  text-align: center;
  display: flex;
  padding: 0px !important;
}

.footer-blue {
  background: var();
}

.footer-blue div {
  width: 50%;
}

.tech-sec {
  border-top: var(--border-blue);
  position: relative;

}

.card-icon {
  bottom: 9px;
  margin: 0 22%;

}

/* CAMPO MINADO */

.lista-campo-minado .fa-java {
  position: absolute;
  font-size: 30px;
  left: 80px;
  color: chocolate;
}

.lista-campo-minado .fa-git-alt {
  position: absolute;
  font-size: 30px;
  left: 130px;
  color: rgb(255, 60, 0);
}

/* HELP UP */

.lista-help-up .fa-bootstrap {
  position: absolute;
  font-size: 30px;
  left: 6px;
  color: blueviolet;
}

.lista-help-up .fa-html5 {
  position: absolute;
  font-size: 30px;
  left: 56px;
  color: chocolate;
}

.lista-help-up .fa-css3 {
  position: absolute;
  font-size: 30px;
  left: 96px;
  color: cornflowerblue;
}

.lista-help-up .fa-js {
  position: absolute;
  font-size: 30px;
  left: 146px;
  color: yellow;
}

.lista-help-up .fa-git-alt {
  position: absolute;
  font-size: 30px;
  left: 196px;
  color: rgb(255, 60, 0);
}

.card-footer div {
  /* flex-grow: 1 !important; */
  border-right: var(--border-blue);
  border-top: var(--border-blue);
  padding: 10px 0;
}

.card-footer div:last-child {
  border-right: unset;
}