@import url(style.css);

.backend {
  display: flex;
  margin-bottom: 200px;
}

@media (max-width: 700px) {
  .backend {
    display: block;
  }
}

@media (max-width: 950px) {
  .backend {

  }
}

.title {
  font-weight: bold;
}

.card {
  box-shadow: -1px 15px 30px -10px black;
  width: 330px;
  color: white;
  background: var(--bg-gradient-right);
  margin: 100px auto;
}

.card-img-top {
  border-bottom: var(--border-blue);
  padding: 2%;
}


  

.card-footer {
  justify-content: space-around;
  text-align: center;
  display: flex;
  padding: 0px !important;
}

.footer-blue {
  background: var();
}

.footer-blue div {
  width: 50%;
}

.card-footer div {
  flex-grow: 1 !important;
  border-right: var(--border-blue);
  border-top: var(--border-blue);
  padding: 10px 0;
}

.card-footer div:last-child {
  border-right: none;
}