* {
  border: 0;
  padding: 0;
  list-style: none;
}

:root {
  --font-base: "Bai Jamjuree";
  --light-gray: rgb(206, 202, 202);
  --text-gradient: linear-gradient(to right, rgb(109, 49, 179), rgb(61, 116, 236), rgb(30, 202, 245));
  --border-blue: 0.1em solid rgb(8, 219, 247);
  --border-gd: 0.1em solid linear-gradient(to right, rgb(0, 0, 0), rgb(22, 10, 58), rgb(12, 38, 85));
  --bg-gradient-right: linear-gradient(to right, rgb(0, 0, 0), rgb(22, 10, 58), rgb(12, 38, 85));
  --bg-default: #020013;
  --text-cyan: rgb(18, 164, 201);
  --transition-main: all .4s ease-in-out;
}

body {
  background: var(--bg-default);
  font-family: var(--font-base);
}

.gradient {
  background-image: var(--text-gradient);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  /* width: 18rem; */
  width: 20%;
  border: var(--border-blue);
  background: var(--bg-default);
}

.github-icon-size {
  font-size: 40px;
  padding: 2px;
  border-radius: 50%;
  color: black;
  background: var(--text-gradient);
}

.linkedin-icon-size {
  font-size: 40px;
  border-radius: 3px;
  padding: 0 2px;
  margin-top: 1px;
  color: black;
  background: var(--text-gradient);
}

.arrow-icon-size {
  font-size: 30px;
  margin-top: 6px;
}

.github-icon-size:hover,
.linkedin-icon-size:hover {
background: rgba(255, 255, 255, 0.719);
}

.arrow-icon-size:hover {
  color: white;
}

.card-link {
  text-decoration: none;
  background: var(--bg-default);
  color: var(--text-cyan);
}

.github-size:hover {}

@media (max-width: 767px) {
  .glow i img {
    width: 10%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap%27');